body {
    background: linear-gradient(to right, #5dc1e3, #9717e9);
  }
.login{
 
    height: 400px;
    width: 400px;
    background-color: white;
    
}
.login h1{
    text-align: center;
}


input[type="submit"]{
    text-align: center;
    width: 200px;
    background: linear-gradient(to right, #5dc1e3, #9717e9);

    border-color: #5dc1e3;
}
